body {
    font-weight: Verlag-Light;
    font-family: V-Lght;
    font-size: 16px;
    color: #626262;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

b {
    font-weight: Verlag-Bold;
    font-family: V-Bld;
    font-size: 16px;
}
div {
    margin: 0;
    padding-top: 4px;
    line-height: 18px;
}
#viewed {
    color: #8f8f8f;
}