html
{
	/* bla */
	display:block;
}


body 
{
	/* safari has a 8 px margin here */
	display:block;
    font-weight:Verlag-XLight;
    font-family:V-XLght;
    font-size:13px;
    line-height: 18px;

	-webkit-margin-before:1em;
	-webkit-margin-after:1em;

}

a
{
    font-weight:Verlag-Book;
    font-family:V-Bk;
}

