[submodule "Libraries/three20"]
	path = Libraries/three20
	url = git@github.com:twotoasters/three20.git
[submodule "Libraries/RestKit"]
	path = Libraries/RestKit
	url = git@github.com:twotoasters/RestKit.git
[submodule "Libraries/Frank"]
	path = Libraries/Frank
	url = https://github.com/moredip/Frank.git
[submodule "Libraries/UISpec"]
	path = Libraries/UISpec
	url = git@github.com:twotoasters/UISpec.git
[submodule "Libraries/TWTCommon"]
	path = Libraries/TWTCommon
	url = git@github.com:twotoasters/TWTCommon.git
[submodule "Libraries/JanRain"]
	path = Libraries/JanRain
	url = git@github.com:twotoasters/authenticate.iphone.git
[submodule "Libraries/facebook-ios-sdk"]
	path = Libraries/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Libraries/TTTAttributedLabel"]
	path = Libraries/TTTAttributedLabel
	url = git@github.com:twotoasters/TTTAttributedLabel.git
[submodule "Libraries/appledoc"]
	path = Libraries/appledoc
	url = https://github.com/tomaz/appledoc.git
