[submodule "Libraries/RestKit"]
	path = Libraries/RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "Libraries/TTTAttributedLabel"]
	path = Libraries/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "Libraries/SDWebImage"]
	path = Libraries/SDWebImage
	url = https://github.com/rs/SDWebImage.git
