# the build
Build

# Specs and Features Stuff
Features/features_built_path
.uispec.app

# temp nibs and swap files
*~.nib
*.swp

# OS X folder attributes
.DS_Store

# user-specific XCode stuff
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcworkspace
xcuserdata
