<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GTIO Dev.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GTIO copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GTIO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25851888135357C5005DCBA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25D5C93F13536855007B6F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25D5C98313536D8F007B6F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F06679414867A3900692659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F622575139864B800111FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F86F0D913B8CA50005063FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F908045139EBA5A0039C8FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
